/* Enter your custom styles here */
.customIcon {
  color: darkorchid;
}

.customIcon1 {
  color: rgb(197, 130, 245);
}

.customLabel {
  color: dodgerblue;
}

.customLabel1 {
  color: deepskyblue;
}


