/* Enter your custom styles here */
.customIcon {
  color: rgb(5, 160, 38);
}

.customIcon1 {
  color: rgb(8, 140, 46);
}

.customIcon2 {
  color: rgb(15, 179, 140);
}

.customLabel {
  color: rgb(5, 161, 57);
}

.customLabel1 {
  color: rgb(36, 151, 4);
}
